<!DOCTYPE html>
<html>
  <head>
    <title>Geocode</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
      integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
      crossorigin=""/>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="form-wrapper">
      <form id="geocoder-form">
        <input type="text" id="q" name="q" placeholder="Search for an address..." />
        <input type="text" id="country" name="country" value="France" />
        <button type="submit" id="submit" name="submit">Geocode</button>
      </form>
    </div>
    <div id="map"></div>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
      integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
      crossorigin=""></script>
    <script type="text/javascript" src='0.1/map.js?api_key=<%= params['api_key'] || 'demo' %>'></script>
    <script type="text/javascript" src='js/geocode.js'></script>
    <script >
      initializeGeocode("<%= params['api_key'] || 'demo' %>")
    </script>
  </body>
</html>
